body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.box_1{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px 100px 50px 100px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px 45px;
}

.header_logo{
    color: #f9faf8;
    font-weight: 900;
    font-size: 24px;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    color: white;
    list-style: none;
    gap: 20px;
}

li{
    color: #E5E7EB;
    size: 18px;
}

.header_bottom{
    display: flex;
    padding: 45px;
    gap: 150px;
    align-items: center;
    justify-content: space-between;
}

.header_info{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 0;
    margin: 0;
}

h1{
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.info_body{
    color: #E5E7EB;
    size: 18px;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    max-width: 125px;
    max-height: 40px;
    padding: 5px 10px;
    margin-top: 5px;
    border: none;
    flex: 0 0 auto;
    font-size: large;
    font-weight: bolder;
}






.box_2{
    background-color: white;
    padding: 0px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

}

.content_heading{
    font-weight: 900;
    color: #1F2937;
    font-size: 36px;
    margin: 60px;

}

.boxes_of_content{
    display: flex;
    gap: 60px;
}

.box_21{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.text{
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.photo{
    border-radius: 10px;
}




.box_3{
    background-color: #E5E7EB;
    padding: 100px 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.source{
    margin-left: auto;
    margin-right: 0;
    font-size: 25px;
    font-weight: bold;
    color: #555962;
    
}

.box_4{
    background-color: white;
    padding: 100px 250px 

}

.call_to_action{
    background-color: #3882F6;
    display: flex;
    padding: 50px 75px;
    justify-content: space-between;
    border-radius: 10px;


}


.call_text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.call_text_1{
    font-size:x-large;
    font-weight: bolder;
    color: #eefdff;

}

.call_text_2{
    font-size: large;
    color: #E5E7EB
}




.call_button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    min-width: 125px;
    max-height: 40px;
    padding: 5px 10px;
    margin-top: 5px;
    border: 2px solid white;
    flex: 0 0 auto;
    font-size: large;
    font-weight: bolder;
}

.box_5{
    background-color: #1F2937;
    padding: 50px;
    text-align: center;

}


body{
    margin: 0;
    color: #E5E7EB;
}
    